SentiNet.iml
.idea/compiler.xml
target/SentiNet-1.0.0-javadoc.jar
target/SentiNet-1.0.0-sources.jar
target/SentiNet-1.0.0.jar
target/apidocs/allclasses-frame.html
target/apidocs/allclasses-noframe.html
target/apidocs/constant-values.html
target/apidocs/deprecated-list.html
target/apidocs/help-doc.html
target/apidocs/index-all.html
target/apidocs/index.html
target/apidocs/overview-tree.html
target/apidocs/package-frame.html
target/apidocs/package-list
target/apidocs/package-summary.html
target/apidocs/package-tree.html
target/apidocs/package-use.html
target/apidocs/PolarityType.html
target/apidocs/script.js
target/apidocs/SentiNet.html
target/apidocs/SentiSynSet.html
target/apidocs/stylesheet.css
target/apidocs/TestSentiNet.html
target/apidocs/class-use/PolarityType.html
target/apidocs/class-use/SentiNet.html
target/apidocs/class-use/SentiSynSet.html
target/apidocs/class-use/TestSentiNet.html
target/classes/PolarityType.class
target/classes/SentiNet.class
target/classes/SentiSynSet.class
target/classes/TestSentiNet.class
target/classes/turkish_sentinet.xml
target/javadoc-bundle-options/javadoc-options-javadoc-resources.xml
target/javadoc-bundle-options/package-list
target/maven-archiver/pom.properties
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
